<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <h2>Task 3</h2>
        @RenderBody()
    </div>
    <div>
        <footer>&nbsp;Samiul&copy;</footer>
    </div>
</body>
</html>
