@model Task3.Models.Student
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}


<h2>Student Info</h2>

<h5>Id : @Model.Id</h5>
<h5>Dob : @Model.Dob </h5>
<h5>Email : @Model.Email </h5>

