@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 
        <form>
            <div>
                <input type="text" placeholder="Name"/>
            </div>
        </form>
    </div>
</body>
</html>
